/* --------------- DETAIL CONSULTANT SECTION --------------- */

.img-detail {
	background: url("/img/consultation.jpg");
}

.consultant-box {
	display: flex;
	align-items: center;
	margin-top: 20px;
	column-gap: 40px;
	color: var(--white-color);
}

.consultant-box img {
	object-fit: cover;
	object-position: 0 -12px;
	width: 158px;
	height: 158px;
	border-radius: 12px;
}

.consultant-bar {
	margin-top: 30px;
}

.consultant-bar button {
	padding: 4px 20px;
	font-size: 16px;
}

.consultant-bar button i {
	margin-right: 20px;
}

.consultant-bar {
	display: flex;
	column-gap: 20px;
}

.box-icon {
	width: 40px;
	height: 40px;
	margin-left: 8px;
	border-radius: 8px;
}

#summary {
	padding: 20px;
	background: var(--white-color);
}

#summary .sub-summary {
	padding-top: 20px;
}

#summary .sub-summary ul {
	padding: 0;
	list-style: none;
	display: flex;
}

#summary .sub-summary li {
	padding: 8px 20px;
	margin-right: 20px;
	border-radius: 12px;
}

#summary .sub-summary li:hover {
	background-color: var(--gray-color-8);
}

#summary .sub-summary .active {
	background-color: var(--gray-color-8);
	border: none;
}

#summary .summary-card {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	border: 1px solid var(--gray-color-4);
	border-radius: 8px;
}

#summary img {
	width: 42%;
}

#summary .summary {
	width: 100%;
	padding: 20px;
}

#summary .summary h4 {
	font-size: 20px;
	font-weight: 700;
	color: var(--black-color);
}

#summary .summary h2 {
	font-size: 42px;
	color: var(--black-color);
	margin: 0;
}

.summary p {
	font-size: 14px;
	padding: 8px;
	margin: 0;
}

#summary .summary .summary-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.circle-icon i {
	font-size: 25px;
	color: var(--secondary-color-5);
}
.circle-icon {
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	background-color: var(--secondary-color-1);
	align-items: center;
	border-radius: 50%;
}

.summary-btn button {
	background-color: var(--primary-color-5);
	margin-top: 10px;
	padding: 11px 25px;
	border: none;
	border-radius: 12px;
	font-size: 12px;
	font-weight: 600;
	margin-left: 5px;
	color: var(--white-color);
}

.summary-btn i {
	margin-right: 10px;
}

.detail-btn {
	text-decoration: none;
	width: 100%;
	padding: 11px 20px;
	border: 1px solid;
	color: var(--black-color);
	border-radius: 12px;
	font-size: 12px;
	font-weight: 600;
	margin-left: 5px;
	background-color: var(--white-color);
}

.detail-btn:hover {
	color: var(--white-color);
	background-color: var(--primary-color-5);
	border: none;
}

.profile-consultant-card {
	border: 1px solid var(--gray-color-4);
	border-radius: 12px;
	padding: 20px;
	margin: 30px 0;
	height: 205px;
}

.profile-consultant-card h6 {
	border-bottom: 1px solid var(--gray-color-4);
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.consultant-info {
	display: flex;
	justify-content: space-between;
}

.consultant-info p {
	margin: 0;
}

.consultant-icon {
	display: flex;
	margin-bottom: 15px;
}

.consultant-icon p {
	margin-left: 20px;
}

#review h5 {
	border-bottom: 1px solid var(--gray-color-4);
	padding-bottom: 15px;
	margin-bottom: 50px;
	color: var(--secondary-color-8);
}

#review .review-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

#review .review-header p {
	margin: 0;
}

#review .review-header a {
	color: var(--primary-color-5);
	font-weight: 600;
}

#review .review-card {
	padding: 20px;
	border: 1px solid var(--gray-color-4);
	border-radius: 8px;
	margin-bottom: 30px;
}

#review .review-card h1 {
	font-size: 70px;
}

#review .user {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#review .user img {
	width: 70px;
	clip-path: circle();
}

#review .username {
	margin-right: 20px;
}

#review .username i {
	color: var(--secondary-color-5);
}
