#home {
	position: relative;
}

#home img {
	width: 100%;
	height: 90vh;
	object-fit: cover;
}

#home:where(h1, h2) {
	font-size: 70px;
	font-weight: var(--font-bold);
	color: var(--primary-color-6);
}

#home .headline {
	width: 550px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-100%, -50%);
}

#home .headline h3,
#home .headline span {
	font-size: 58px;
	font-weight: var(--font-bold);
	color: var(--primary-color-7);
}

#home .headline span {
	color: var(--secondary-color-5);
}

#home .headline .text-home {
	width: 500px;
}

#home .headline p {
	margin: 35px 0 30px 0;
	font-size: 16px;
}

#partnerku .list-partner {
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(8, 1fr);
}

#about-us .frame {
	border-radius: 8px;
	width: 500px;
	height: 280px;
}

:where(
		#about-us,
		#our-service,
		#our-consultant,
		#our-program,
		#blog,
		#testimoni
	)
	span {
	font-weight: bold;
	color: var(--secondary-color-5);
	text-transform: uppercase;
}

#our-service {
	background-color: var(--gray-color-1);
}

#our-service .card-our-service {
	padding: 24px;
	height: 100%;
	border-radius: 10px;
	border: 2px solid var(--gray-color-5);
}

.boxku {
	width: 100%;
}

#our-service .text-group {
	margin-block: 24px;
}

#our-service .icon-frame {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	background-color: var(--primary-color-1);
	width: 70px;
	height: 70px;
}

#our-service .icon-frame i {
	color: var(--primary-color-5);
	font-size: 40px;
}

#our-consultant .box-icon {
	width: 40px;
	height: 40px;
	border-radius: 8px;
	border: 2px solid var(--gray-color-4);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#our-consultant .card-our-consultant,
#our-program .card-our-program,
#blog .card-blog {
	padding: 0;
	display: flex;
	align-items: center;
	border: 2px solid var(--gray-color-4);
	border-radius: 12px;
	overflow: hidden;
	position: relative;
}

#our-consultant .card-our-consultant img,
#our-program .card-our-program img,
#blog .card-blog img {
	width: 100%;
}

#our-consultant .card-our-consultant,
#our-program .card-our-program,
#blog .card-blog {
	height: 100%;
}

#tobe-consultant h5,
#tobe-consultant p {
	color: white;
}

#tobe-consultant {
	position: relative;
}

#tobe-consultant img {
	width: 100%;
	height: 500px;
	object-fit: cover;
}

#tobe-consultant .tobe-consultant-box,
#testimoni .testimoni-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#our-consultant .our-consultant-text,
#our-program .our-program-text,
#blog .blog-text {
	width: 100%;
	padding: 20px;
	justify-content: flex-start;
}

#our-consultant .our-consultant-text span,
#our-consultant .our-consultant-text p,
#our-program .our-program-text span,
#our-program .our-program-text p,
#blog .blog-text span,
#blog .blog-text p {
	font-size: 14px;
}

#our-consultant .our-consultant-text h6,
#our-program .our-program-text h6,
#blog .blog-text h6 {
	font-size: 16px;
	color: var(--black-color);
}

#testimoni {
	position: relative;
}

#testimoni .layer img {
	width: 100%;
	height: 100vh;
}

#testimoni .layer {
	width: 100%;
}

#testimoni .card-testimoni {
	padding: 30px;
	border-radius: 10px;
}

#testimoni .card-testimoni img {
	width: 25px;
	margin-bottom: 20px;
}

#testimoni .testimoni-user {
	align-items: center;
	justify-content: flex-start;
	column-gap: 30px;
	padding-inline: 20px;
}

#testimoni .testimoni-user img {
	width: 60px;
	clip-path: circle(50%);
	margin: 0;
}

#testimoni .testimoni-user p {
	font-weight: 900;
	margin: 0;
}

.hello {
	border: 2px solid black;
}
