/* ----------- HERO SECTION ----------- */

#hero {
	width: 900px;
	height: 560px;
	padding: 60px 80px;
	display: flex;
	align-items: center;
}

#hero h1,
#hero h2 {
	font-size: 70px;
	font-weight: 900;
	color: var(--primary-color-6);
}

#hero .blob-hero {
	position: absolute;
	padding: inherit;
	top: 90px;
	right: 0;
	z-index: 0;
}

#hero .headline {
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#hero .headline h3,
#hero .headline span {
	font-size: 40px;
	font-weight: var(--font-bold);
	color: var(--primary-color-8);
}

#hero .headline span {
	color: var(--secondary-color-5);
}

#hero .headline .text-hero {
	width: 500px;
}

#hero .headline p {
	margin: 35px 0 30px 0;
	font-size: 16px;
}

/* ----------- ABOUT SECTION ----------- */

#about .header-about {
	margin-top: 200px;
}

#about .text-about {
	display: flex;
	justify-content: space-between;
}

#about .straight-line {
	margin-top: -30px;
}

#about .wave-line2 {
	margin-left: 280px;
	margin-top: -100px;
}

#about p {
	font-size: 20px;
	margin-top: -28px;
}

#about .row {
	margin-top: 50px;
}

/* ----------- SERVICES SECTION ----------- */

#services h1 {
	color: var(--primary-color-6);
}

#services .card {
	padding: 80px 30px;
	background-color: var(--gray-color-2);
	border-radius: 20px;
	margin-top: 20px;
	border: none;
}

#services .header-services {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

#services .card img {
	width: 100px;
	margin-bottom: 40px;
}

/* ----------- CONSULTANT SECTION ----------- */

#consultant {
	height: 680px;
	background-color: var(--gray-color-2);
}

#consultant .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#consultant h1 {
	color: var(--primary-color-6);
}

#consultant .card {
	margin-top: 40px;
	align-items: center;
	padding: 20px 20px 40px;
	border-radius: 10px;
}

#consultant .card img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	object-position: top;
	margin-bottom: 20px;
	border-radius: 8px;
}

#consultant .card p {
	margin: 2px 0;
	font-size: 12px;
}

#banner {
	text-align: center;
	height: 320px;
	background-color: var(--secondary-color-3);
}

#banner .text h1 {
	font-family: "Manrope";
	color: var(--primary-color-6);
	font-weight: 700;
	font-size: 50px;
	line-height: 54px;
	margin-top: 40px;
}

#banner .text p {
	font-family: "Manrope";
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: var(--primary-color-5);
}

#banner .banner-button {
	background-color: var(--primary-color-9);
	color: white;
	padding: 12px 20px;
	width: 161px;
	height: 44px;
	border-radius: 8px;
	align-items: center;
	border: none;
}

#banner h5 {
	font-family: "Manrope";
	font-weight: 600;
	font-size: 15px;
	line-height: 20px;
}

#banner .card {
	margin-left: 50px;
	width: 190px;
	height: 254px;
	overflow: visible;
	cursor: pointer;
	border: none;
}

#banner .col {
	display: flex;
	justify-content: center;
}

#banner .card img {
	height: 100%;
}

#banner .card::before,
#banner .description {
	border-radius: 5px;
	box-shadow: 0px 0px 5px 1px #00000066;
	transition: transform 800ms, box-shadow 400ms;
	display: flex;
	justify-content: center;
}

#banner .content::before {
	border-radius: 5px;
	box-shadow: 0px 0px 5px 1px #00000066;
	transition: transform 400ms, box-shadow 200ms;
}

#banner .card::before {
	border-radius: 15px;
	position: absolute;
	content: " ";
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--secondary-color-3);
	transform: rotateZ(18deg);
}

#banner .content::before {
	border-radius: 15px;
	position: absolute;
	content: " ";
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--secondary-color-4);
	transform: rotateZ(-18deg);
}

#banner .card .content .description {
	border-radius: 5px;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--primary-color-5);
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: rotateZ(0);
}

#banner .card:hover::before,
#banner .card:hover .content:before,
#banner.card:hover .description {
	transform: rotateZ(0deg);
}

/* ----------- PROGRAM SECTION ----------- */

#program {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#program h1 {
	color: var(--primary-color-6);
}

#program .card .temporary_text img {
	object-fit: cover;
	width: 100%;
	height: 450px;
}

#program .card {
	position: relative;
	width: 350px;
	height: 425px;
	overflow: hidden;
	border-radius: 20px;
	border-radius: none;
	cursor: pointer;
}

#program .card .temporary_text img {
	object-position: top;
	object-fit: contain;
}

#program .card_title {
	font-weight: bold;
}

#program .card_content {
	position: absolute;
	left: 0;
	bottom: 0;
	/* edit the width to fit card */
	width: 100%;
	padding: 20px;
	background: #f2f2f2;
	/* edit here to change the height of the content box */
	transform: translateY(130px);
	transition: transform 0.25s;
}

#program .card_title {
	color: #131313;
	line-height: 15px;
}

#program .card_price {
	display: block;
	font-size: 13px;
	margin-bottom: 10px;
}

#program .card_description {
	font-size: 14px;
	opacity: 0;
	transition: opacity 0.5s;
}

#program .card:hover .card_content {
	transform: translateY(0);
}

#program .card:hover .card_description {
	opacity: 1;
	transition-delay: 0.25s;
}

/* ----------- PARTNER SECTION ----------- */

#partner h1 {
	margin-bottom: 40px;
	color: var(--primary-color-6);
}

#partner .square-holder {
	padding: 30px;
	align-items: center;
	border: none;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	background-color: #f1f1f1;
	min-height: 200px;
}

#partner .square-holder img {
	max-width: 100%;
	filter: grayscale(100%);
	transition: all 0.3s;
}

#partner .square-holder:hover img {
	filter: none;
}

/* ----------- ULASAN SECTION ----------- */

#ulasan {
	background-size: cover;
	height: 650px;
}

#ulasan .header-text h1 {
	font-family: "Manrope";
	font-weight: 800;
	font-size: 50px;
	line-height: 72px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: -10px;
}

#ulasan .header-text p {
	font-family: "Manrope";
	font-weight: 800;
	font-size: 20px;
	line-height: 72px;
	text-align: center;
}

#ulasan .header-text h1,
.header-text p {
	color: #ffffff;
}

#ulasan .card {
	margin-left: 25px;
	margin-right: 25px;
	height: 370px;
	width: 320px;
	padding: 20px 30px;
	background-color: var(--gray-color-2);
	border-radius: 20px;
	border: none;
}

#ulasan .card p {
	font-family: "Kumbh Sans";
	color: #4a556c;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.03em;
	width: 304px;
	height: 128px;
	margin-top: 30px;
}

#ulasan .card p span {
	font-family: "Kumbh Sans";
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.03em;
	width: 304px;
	height: 128px;
}

#ulasan .card h5 {
	font-family: "Kumbh Sans";
	color: #333461;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.03em;
	width: 304px;
	height: 32px;
}

#ulasan .card img {
	width: 20%;
	margin-bottom: 10px;
}

#ulasan i {
	display: inline;
	color: rgb(224, 224, 81);
}

#ulasan .text-services p {
	margin-left: 40px;
}

/* ----------- BLOG SECTION ----------- */

#blog .blog-text h1,
#blog .blog-text p {
	text-align: center;
	color: var(--primary-color-7);
}

#blog .blog-text h1 {
	font-family: "Manrope";
	font-weight: 700;
	font-size: 50px;
	line-height: 54px;
}

#blog .blog-text p {
	font-family: "Manrope";
	font-weight: 500;
	font-size: 20px;
	margin-top: 50px;
}

#blog .box img {
	padding-left: 50px;
	width: 490px;
}

#blog .text h5 {
	font-family: "Manrope";
	color: var(--gray-color-5);
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;
}

#blog .text p {
	font-family: "Inter";
	color: var(--gray-color-5);
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#blog .text h5,
#blog .text p {
	padding-right: 55px;
}

#blog .text {
	margin-top: 20px;
}

#blog .text a {
	font-family: "Inter";
	font-size: 16px;
	line-height: 26px;
	color: var(--primary-color-7);
	text-decoration: underline;
}

swiper-container {
	width: 100%;
	height: 100%;
	padding: 200px;
}

swiper-slide {
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#consultant .testimonial {
	position: relative;
	width: 100%;
	padding: 0 0 50px 0;
	overflow: hidden;
}
#consultant .testimonial .image {
	height: 170px;
	width: 170px;
	object-fit: cover;
	border-radius: 50%;
}

#consultant .slide .quote-icon {
	font-size: 30px;
	color: #4070f4;
}
#consultant .slide .details {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#consultant .details .name {
	font-size: 14px;
	font-weight: 600;
	color: #333;
}
#consultant .details .job {
	font-size: 12px;
	font-weight: 400;
	color: #333;
}
/* swiper button css */
#consultant .nav-btn {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	transform: translateY(-25px);
	background-color: rgba(0, 0, 0, 0.1);
	transition: 0.2s;
}
#consultant .nav-btn:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
#consultant .nav-btn::after,
#consultant .nav-btn::before {
	font-size: 20px;
	color: #fff;
}
#consultant .swiper-pagination-bullet {
	background-color: rgba(0, 0, 0, 0.8);
}
#consultant .swiper-pagination-bullet-active {
	background-color: #4070f4;
}
@media screen and (max-width: 768px) {
	#consultant .slide p {
		padding: 0 20px;
	}
	#consultant .nav-btn {
		display: none;
	}
}
